/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#page_all {
	margin: auto;
	height: 801px;
	width: 1026px;
	font-family:Verdana;
	border:1px solid black;
}

#header {
	height: 20px;
	width: 1024px;
	float: left;
	border:1px solid black;
}

#search_view {
	height: 133px;
	width: 1024px;
	border:1px solid black;
	float: left;
}

#list_view {
	height: 622px;
	width: 600px;
	float: left;
	text-align: left;
	position: relative;
	border:1px solid black;
}

#image_view {
	height: 280px;
	width: 422px;
	text-align:left;
	float: left;
	border:1px solid black;
	position: relative;
}

#data_view {
	height: 340px;
	width: 422px;
	text-align:left;
	float: left;
	border:1px solid black;
	position: relative;
}

#footer {
	height: 20px;
	width: 1024px;
	border:1px solid black;
	float: left;
}

table.list_view_table {
	width: 583px;
}

.list_view_panel {
	width: 600px ;
    height: 622px;
}

.align_right {
	align: right;
}
