<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/mediapool"/>
		<property name="user" value="root"/>
		<property name="password" value=""/>
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>de.mediapool.beans.Film</value>
			</list>
		</property>
	</bean>

	<bean id="filmService" class="de.mediapool.business.FilmServiceImpl">
		<property name="filmDao" ref="filmDao"/>
	</bean>
	
	<bean id="filmDao" class="de.mediapool.persistence.FilmDaoImpl">
	 <property name="sessionFactory" ref="entityManagerFactory" />
	</bean>
	

</beans>

