<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/mediapool"/>
		<property name="user" value="root"/>
		<property name="password" value="root"/>
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>de.mediapool.core.persistence.vo.media.MediaTypeVO</value>
				<value>de.mediapool.core.persistence.vo.media.EntityVO</value>
				<value>de.mediapool.core.persistence.vo.media.EntityAttributeVO</value>
				<value>de.mediapool.core.persistence.vo.media.EntityAttributeDefVO</value>
				<value>de.mediapool.core.persistence.vo.relationship.RelationshipVO</value>
				<value>de.mediapool.core.persistence.vo.user.UserVO</value>
				<value>de.mediapool.core.persistence.vo.media.products.MediaProductVO</value>
			</list>
		</property>
		<property name="hibernateProperties">
           <props>
           		<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
           		<prop key="hibernate.hbm2ddl.auto">create-drop</prop>
               	<prop key="hibernate.show_sql">true</prop>
           </props>
        </property>
	</bean>

	<bean id="movieService" class="de.mediapool.core.services.media.MediaServiceImpl">
	</bean>
	
	<bean id="imediaDAO" class="de.mediapool.core.persistence.dao.entitys.MediaDAOImpl">
	 <property name="sessionFactory" ref="entityManagerFactory" />
	</bean>
	
	<bean id="mediaAttributeDAO" class="de.mediapool.core.persistence.dao.entitys.MediaAttributeDAOImpl">
	 <property name="sessionFactory" ref="entityManagerFactory" />
	</bean>
	
	<bean id="MediaAttributeDefsDAO" class="de.mediapool.core.persistence.dao.entitys.MediaAttributeDefsDAOImpl">
	 <property name="sessionFactory" ref="entityManagerFactory" />
	</bean>
	
	<bean id="MediaProductsDAO" class="de.mediapool.core.persistence.dao.entitys.products.MediaProductsDAOImpl">
	 <property name="sessionFactory" ref="entityManagerFactory" />
	</bean>
	
	<bean id="psTransaction" class="de.mediapool.core.persistence.core.PSTransaction">
	 <property name="sessionFactory" ref="entityManagerFactory" />
	</bean>
	
</beans>

