<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/mediapool"/>
		<property name="user" value="root"/>
		<property name="password" value="root"/>
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>de.mediapool.core.persistence.vo.media.MediaVO</value>
				<value>de.mediapool.core.persistence.vo.media.MediaAttributeVO</value>
				<value>de.mediapool.core.persistence.vo.media.MediaAttributeDefVO</value>
				<value>de.mediapool.core.persistence.vo.media.MediaTypeVO</value>
			</list>
		</property>
		<property name="hibernateProperties">
           <props>
               <prop key="hibernate.show_sql">true</prop>
           </props>
        </property>
	</bean>

	<bean id="movieService" class="de.mediapool.core.services.media.MediaServiceImpl">
	</bean>
	
	<bean id="mediaDAO" class="de.mediapool.core.persistence.dao.media.MediaDAOImpl">
	 <property name="sessionFactory" ref="entityManagerFactory" />
	</bean>
	
	<bean id="mediaAttributeDAO" class="de.mediapool.core.persistence.dao.media.MediaAttributeDAOImpl">
	 <property name="sessionFactory" ref="entityManagerFactory" />
	</bean>
	
	<bean id="MediaAttributeDefsDAO" class="de.mediapool.core.persistence.dao.media.MediaAttributeDefsDAOImpl">
	 <property name="sessionFactory" ref="entityManagerFactory" />
	</bean>
	
	<bean id="psTransaction" class="de.mediapool.core.persistence.core.PSTransaction">
	 <property name="sessionFactory" ref="entityManagerFactory" />
	</bean>

</beans>

